[user]
	name = Alex O'Neill
	email = git@aoneill.me

[alias]
  # Shortcuts
  st = status
  ci = commit --verbose
  br = branch
  co = checkout

  # Aliases
  pending = status
  p = status

[diff]
  color = always

[push]
	default = simple

[core]
	editor = vim --cmd 'let nojump=1'
	whitespace = trailing-space,tab-in-indent
