[user]
	name = Alex O'Neill
	email = me@aoneill.me

[alias]
  # Shortcuts
  st = status
  ci = commit --verbose
  br = branch
  co = checkout

  # Aliases
  ammend = commit --amend --no-edit
  am = commit --amend --no-edit
  pending = status
  p = status

[diff]
  color = always

[push]
	default = simple

[core]
	editor = vim --cmd 'let nojump=1'
	whitespace = trailing-space,tab-in-indent
	autocrlf = input
[init]
	defaultBranch = main
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
