[submodule "vim/.vim/pack/plugins/start/nerdtree"]
	path = vim/.vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/.vim/pack/plugins/start/vim-toml"]
	path = vim/.vim/pack/plugins/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "vim/.vim/pack/plugins/start/vim-es6"]
	path = vim/.vim/pack/plugins/start/vim-es6
	url = https://github.com/isRuslan/vim-es6.git
